body {
    background: url(img/reasons-why-smart-cities-are-the-future-v0-puoDQ5fROdx2Rz9EACMABBm4Scmia7KY0G6SNxk30bY\ \(2\).jpg) no-repeat top center/cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    color: #13a099c0;
    font-family:'Monomaniac One', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #171b1b3b;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

.post {
    background-color: #2b363691;
    padding: 20px;
    margin-bottom: 20px;
}

.post h2 {
    color: #b4c2c1ce;
    font-family: 'Monomaniac One', sans-serif;
    font-family: 'Tektur', cursive;
    margin-top: 2px;
}

.post p{
    color: #b4c2c1ea;
    font-family: 'Monomaniac One', sans-serif;
    font-family: 'Tektur', cursive;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #0b5c584d;
    position: fixed;
    bottom: 0;
    width: 100%;
}

 img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

h2{
    font-size: 12pt;
}