/* Reset de estilos padrão */
body, h1 {
    background: url(img/Background.png) no-repeat top center/cover;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 0;
    color: rgba(243, 238, 238, 0.747);
    font-family: 'Tektur', cursive;    
}

/* Estilos gerais */
body {
    background-color: #f0f0f0;
}

header {
    background-color: rgba(76, 43, 138, 0.082); /* Cor de fundo verde */
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #0000007e;
    font-weight: bold;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.news {
    background-color: rgba(76, 43, 138, 0.185);
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    height: 120px;
    width: 170px;
    
}

.news img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.news p {
    margin-top: -5px; 
    font-size: 12px  
}

a{
    color: rgb(139, 131, 131);
    text-decoration: none;
    background: #3738389d;
    border-radius: 5px;
}

a:hover {
    background-color: #bdbbbb9d;
    color: #030303d0;
}

h2{
    font-size: 15px;
}

h3{
    font-size: 15px;
    margin-top: -2px;
}