
/* Conteudo TOTAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background: url(photos/Background.svg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;

  }

  /* Todo conteudo do BODY */
  body * {
    font-family: "Inter", sans-serif;
    color: white;
  }

  header{
    height: 40px;
  }


  .logo{
    display: flex;
    height: 250px;
    justify-content: center;
    margin-top: 30px;
    
  }

  .lang{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: 40px;
    gap: 5px;
  }

  @media (max-width: 800px) {


    }


  .content{
    display: flex;
    flex-direction: column;
    margin-top: -20px;
  }

  a{
    display: flex;
    flex-direction: column;
    background-color: rgba(73, 55, 130, 0.306);
    height: 300px;
    min-width: 250px;
    max-width: 250px;
    border-radius: 10px;
    margin: 10px;
    text-decoration: none;
    
  }

  .desk::-webkit-scrollbar{
    background-color: rgba(127, 255, 212, 0);
    height: 10px;

  }

  .desk::-webkit-scrollbar-thumb{
    background-color: rgba(42, 29, 85, 0.756);
    border-radius: 20px;
  }

  .icons{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
    margin: 5px 10px 0;
  }

  .icons img{
    display: flex;
    width: 20px;
  }

  .info{
    display: flexc;
  }

  h2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration:underline;
    font-size: 12PX;
  }

  .p{
    display: flex;
    justify-content: center;
    text-align: center;
    max-height: 120px;
    min-height: 100px;
    margin: 5px;
    word-break: break-all;
  }

  p{
    margin: 5px;
    font-size: 10px;
    max-height: 120px;
    min-height: 100px;
  }

  .desk{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    height: 350px;
    margin-bottom: 30px;


  }

  .thumb{
    display: flex;
    justify-content: center;
    margin: 10px;

  }

.thumb img{
  display: flex;
  max-width: 230px;
}

.plus{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.plus img{
  display: flex;
  width: 40px;
}

h1{
  display: flex;
  margin: 10px 20px 5px;
}

@media (max-width: 800px) {
  body{
    height: 100vh;
  }

  .desk::-webkit-scrollbar{
    height: 0;
  }

  .lang img{
    width: 40px;
  }

  h1{
    font-size: 20px;
  }

}