/* Reset de estilos padrão */
body {
    background: url(photo/Background.png) no-repeat top center/cover;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 0;
    color: rgba(243, 238, 238, 0.747);
    font-family: 'Tektur', cursive;  
}

/* Estilos gerais */
header {
    display: flex;
    align-items: center;
    background-color: rgba(53, 51, 59, 0.13); /* Cor de fundo verde */
    color: #fff;
    padding: 20px;
    height: 5px;

}

header img{
    display: flex;
    justify-content: left;
    height: 30px;

}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: rgba(53, 51, 59, 0.13);
    font-weight: bold;
}

.logo h3{
display: flex;
flex-direction: row;
align-items: center;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    flex-direction: row;
    margin-top: 20px;
}

.news {
    display: flex;
    flex-direction: column;
    background-color: rgba(67, 21, 121, 0.151);
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    height: 450px;
    width: 300px;
    text-decoration: none;
    transition: 0.4s;
}

@media (max-width: 800px) {
    .main-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 5px;
        flex-direction: column;
        margin-top: 20px;
    }
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.news h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -5px; 
    font-size: 18px;
    color: white;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.24);
    margin-top: 10px;
    height: 210px;

}
.title p{
    color: white;
    display: flex;
    justify-content: center;
    text-align: justify;
    padding: 10px;
    border-radius: 4px;
    font-size: 15px;
    
}

.title h2{
    display: flex;
    margin-bottom: -10px;
    color: white;
    font-size: 20px;
}


.icones{
    display: flex;
    justify-content: left;

}

.news:hover{
    transform: scale(1.04);
    border: 1px solid rgba(255, 255, 255, 0.527);
    
}

.logo{
    margin-top: 10px;
}