*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(photos/Background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(24, 23, 22, 0.253);
   
}
.container  .left{
    position: relative;
    background: rgba(43, 44, 128, 0.247);
    padding: 40px;
}

.profileText{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(199, 86, 12, 0.144);
}

.profileText .imgbx{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.profileText .imgbx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}

.profileText h2{
    color: rgba(255, 255, 255, 0.829);
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.contactInfo{
    margin-bottom: 30px;
}

.title{
    color: rgba(255, 255, 255, 0.884);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: px;
}

.contactInfo ul{
    position: relative;

}

.contactInfo ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;

}

.contactInfo ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: rgb(89, 69, 201);
    
}

.contactInfo ul li .text{
    color: rgb(233, 227, 227);
    font-weight: 300;
    font-size: 12px;
    

}

.contactInfoEdu li{
    margin-bottom: 15px ;
    list-style: none;
}

.contactInfoEdu h5{
    color: rgb(89, 69, 201);
    font-weight: 500;
}

.contactInfoEdu h4:nth-child(2){
    color: white;
    font-weight: 500;
}

.contactInfoEdu h4{
    color: white;
    font-weight: 300;
    
}

.contactInfocurso li{
    color: white;
    list-style: none;

}
 

.contactInfocurso .porcenthtml{
    position: relative;
    width: 100%;
    height: 14px;
    background: rgba(219, 108, 18, 0.356);
    display: block;
    margin-bottom: 5px;
}
.contactInfocurso .porcenthtml div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background:rgb(219, 108, 18);
}

.contactInfocurso .porcenthtml  h4{
    display: flex; 
    justify-content: space-around;
    font-size: 12px;
    
}

.contactInfocurso .porcentcss{
    position: relative;
    width: 100%;
    height: 14px;
    background: rgba(2, 141, 255, 0.253);
    display: block;
    margin-bottom: 5px;
}
.contactInfocurso .porcentcss div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background:rgb(2, 141, 255);
}

.contactInfocurso .porcentcss  h4{
    display: flex; 
    justify-content: space-around;
    font-size: 12px;
    
}

.contactInfocurso .porcentjs{
    position: relative;
    width: 100%;
    height: 14px;
    background: rgba(251, 255, 2, 0.281);
    display: block;
    margin-bottom: 5px;
}
.contactInfocurso .porcentjs div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background:rgb(251, 255, 2);
}

.contactInfocurso .porcentjs  h4{
    display: flex; 
    justify-content: space-around;
    font-size: 12px;
    
}

.contactInfocurso .porcentpy{
    position: relative;
    width: 100%;
    height: 14px;
    background: rgba(0, 116, 211, 0.26);
    display: block;
    margin-bottom: 5px;
}
.contactInfocurso .porcentpy div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background:rgb(0, 116, 211);
}

.contactInfocurso .porcentpy  h4{
    display: flex; 
    justify-content: space-around;
    font-size: 12px;
    
}

.contactInfocurso .porcentphp{
    position: relative;
    width: 100%;
    height: 14px;
    background: rgba(161, 162, 221, 0.288);
    display: block;
    margin-bottom: 5px;
}
.contactInfocurso .porcentphp div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background:rgb(161, 162, 221);
}

.contactInfocurso .porcentphp  h4{
    display: flex; 
    justify-content: space-around;
    font-size: 12px;
    
}

.container  .right{
    position: relative;
    background: rgb(255, 255, 255);
    padding: 40px;
}

.about{
    margin-bottom: 50px;

}

.about:last-child{
    margin-bottom: 0;

}

.title2{
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

p{
    color: rgb(66, 60, 60);
    font-size: 18px;
}

.competencia .box{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;

}

.competencia .box h4{
    text-transform: uppercase;
    color: rgb(83, 80, 80);
   font-size: 12px;
    
}

.competencia .box .percent{
    position: relative;
    width: 100%;
    height: 10px;
    background: rgba(43, 44, 128, 0.308);
}

.competencia .box .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: rgb(43, 44, 128);
    ;
    ;
}

a{
    text-decoration: none;
}
