body {
    background: url(Background.png) no-repeat top center/cover ;
    background-attachment: fixed;
     background-position: center;
    min-height: 100vh;
    color: #fdfdfdc4;
    font-family: 'Monomaniac One', sans-serif;
    text-align: center;
    padding: 5px;
    /* border: 2px solid red; */
}

p {
    margin-bottom: 20px;
    margin-top: px;
    /* border: 2px solid red; */
}

img{
    /* border: 2px solid red; */
    height: 170px;
    margin-top: 150px;
    
}
a {
    /* border: 2px solid red; */
    text-decoration: none;
    color: #ffffffc4;
    font-size: 24px;
    width: 150px;
    margin: 10px;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    background: rgba(53, 51, 59, 0.322);
    transition: background 0.5s;
}

a:hover {
    background-color: rgb(49, 45, 73);
    color: rgb(255, 255, 255);
    border: 1px solid rgba(116, 106, 136, 0.493);
}